:root {
    --cor-botao: #111c81;
    --cor-botao-texto: #fff;
    --cor-fundo: #000000; /* escuro por padrão */
    --cor-texto: #fff;    /* texto claro por padrão */
    --logo-largura: 100px;
    --cor-pescoco: #113e81; /* verde */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding-top: 60px; /* ajuste conforme a altura do cabeçalho */
}

body[data-tema="escuro"] {
    --cor-fundo: #f3f3f3;
    --cor-texto: #000000;
}

body[data-tema="claro"] {
    --cor-fundo: #fff;
    --cor-texto: #222;
}s

/* Aplica cor oposta nos <p> */
p {
    color: var(--cor-texto);
}

/*botao interativo*/
button.botao-js {
    background-color: var(--cor-botao);
    border: none;
    color: var(--cor-botao-texto);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Faz cada botão ocupar uma linha */
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 20px; /* Espaço entre os botões */
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: height 0.3s ease;
}

/*bota de mudar cor do tema*/
button.Tema{
    position: absolute;
    top: 30px;
    right: 10px;
}

/*cor da dive do cabesario*/
div#cabecalho {
    background-color: var(--cor-botao);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

img.logoNovo {
    width: var(--logo-largura);
    height: auto;
}

div#pescoco {
    position: relative;
    display: block;
    width: 100%; /* cobre toda a largura */
    height: 100px;
    background-color: var(--cor-pescoco);
}

/*transisao dos botoes*/
button#botao1{
    display: block;
    margin-left: auto;
    margin-right: 70%;
    height: 50px;
    width: 200px;
    transition: height 0.3s ease;
}

button#botao2{
    display: block;
    margin-left: auto;
    margin-right: 70%;
    height: 50px;
    width: 200px;
    transition: height 0.3s ease;
}

button#botao3{
   display: block;
    margin-top: -140px;
    margin-left: auto;
    margin-right: 25%; 
    height: 50px;
    width: 200px;
    transition: height 0.3s ease;
}

button#botao4{
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 25%;
    height: 50px;
    width: 200px;
    transition: height 0.3s ease;
}
